---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # TV Downloader
  sonarr:
    image: linuxserver/sonarr
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - PGID=0
      - PUID=0
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/homelabos/sonarr/config:/config
      - /mnt/nas/TV:/tv
      - /var/homelabos/sonarr/downloads:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:sonarr.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8989"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:sonarr.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8989"